<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Đăng nhập</h2>
            <p>Điền thông tin tài khoản của bạn</p>
            <form>
                <input type="text" placeholder="Tên Đăng Nhập" required>
                <input type="password" placeholder="Mật Khẩu" required>
                <button type="submit">ĐĂNG NHẬP</button>
                <div style="padding-top: 10px;padding-bottom: 10px;">hoặc</div>
                <button type="button">
                        <img src="/static/images/gg.png" alt="Google logo" width="20" height="20" style="vertical-align: middle; margin-right: 8px;">

                    Đăng nhập bằng tài khoản Google</button>
            </form>
            <p class="register-link">Không có tài khoản? <a href="#">Đăng ký tại đây</a></p>
        </div>
    </div>
</body>
</html>
